/* Navbar */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  height: 57px;
  background-color: #5C80BC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.logo {
  width: 45px;
  height: 45px;
  object-fit: cover;
}