/* Navbar */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.nav {
  height: 100px;
  background-color: #BAD7F2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page {
  display: flex;
  color: black;
  justify-content: space-around;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;

}

#title {
  font-size: 45px;
  font-weight: bold;
  color: black;
  padding-left: 0px;
  padding-right: 100px;
}

.page-container {
  display: flex;
  justify-content: space-around;
  margin-right: 25px;
  margin-left: 50px;
}

#spacer {
  width: 250px;
}

a {
  text-decoration: none;
}

#logo {
  width: auto;
  height: 65px;
  object-fit: cover;
}